#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp TAB &kp N_1 &kp N_2 &kp N_3 &kp N_4 &kp N_5 &kp N_6 &kp N_7 &kp N_8 &kp N_9 &kp N_0 &kp X
                &kp ESC &kp Q &kp W &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &kp P &kp LEFT_BRACKET
                &kp LSHIFT &kp A &kp S &kp D &kp F &kp G &kp H &kp J &kp K &kp L &kp SEMICOLON &kp SINGLE_QUOTE
                &kp LCTRL &kp Z &kp X &kp C &kp V &kp B &kp N &kp M &kp KP_COMMA &kp KP_DOT &kp KP_MINUS &kp RSHIFT
                &kp LGUI &mo 1 &kp ENTER         &kp SPACE &kp LALT &kp BACKSPACE
            >;
        };
    };
};
