#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define SYMBOLS 1

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            //-----------------------------------------------------------------------------------------------
            //  TAB |   1   |   2   |   3   |   4   |   5   |   6   |   7   |   8   |   9   |   0   |   -   |
            //  ESC |   Q   |   W   |   E   |   R   |   T   |   Y   |   U   |   I   |   O   |   P   |   [   |
            // SHIFT|   A   |   S   |   D   |   F   |   G   |   H   |   J   |   K   |   L   |   ;   |   '   |
            //  CTL |   Z   |   X   |   C   |   V   |   B   |   N   |   M   |   ,   |   .   |   /    | SHIFT |
            //                      | SUPER | SYMBL | ENTER |  ALT  | SPACE | BKSPCE|

            bindings = <
                &kp TAB &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp MINUS
                &kp ESC &kp Q &kp W &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &kp P &kp LEFT_BRACKET
                &kp LSHIFT &kp A &kp S &kp D &kp F &kp G &kp H &kp J &kp K &kp L &kp SEMICOLON &kp SINGLE_QUOTE
                &kp LCTRL &kp Z &kp X &kp C &kp V &kp B &kp N &kp M &kp COMMA &kp DOT &kp SLASH &kp RSHIFT
                &kp LGUI &mo SYMBOLS &kp ENTER         &kp RALT &kp SPACE &kp BACKSPACE
            >;
        };

        symbols_layer {
            //-----------------------------------------------------------------------------------------------
            // BTCLR|  BT 1 |  BT 2 |  BT 3 |  BT 4 |  BT 5 |       |   <   |   >   |       |       |       |
            //      |   @   |       |       |       |       |       |   {   |   }   |       |       |       |
            //      |       |       |       |       |       |       |   (   |   )   |       |       |       |
            //      |       |       |       |       |       |       |   [   |   ]   |       |       |       |

            bindings = <
                &bt BT_CLR &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &bt BT_SEL 5 &trans &kp LT &kp GT &trans &trans &trans
                &trans &kp AT &trans &trans &trans &trans &trans &kp LBRC &kp RBRC &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans &kp LPAR &kp RPAR &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans &kp LBKT &kp RBKT &trans &trans &trans
                &trans &trans &trans                                    &trans &trans &trans 
            >;
        };
    };
};
