#include "splitkb-layouts.dtsi"

&kscan0 {
    col-gpios
        = <&nice_nano_v2 10 GPIO_ACTIVE_HIGH>
        , <&nice_nano_v2 11 GPIO_ACTIVE_HIGH>
        , <&nice_nano_v2 13 GPIO_ACTIVE_HIGH>
        ;
};

&default_transform {
    col-offset = <6>
};